{% extends 'base.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container py-4">
    <div id="summernote"></div>
</div>

<div class="container pb-4">
    <div class="row justify-content-center">
        <div class="">
            <button id="generate-html" class="btn btn-secondary mx-2">Generate HTML</button>
        </div>
        <div class="">        
            <button class="btn btn-secondary mx-2" onclick="SendPost()">Send Email</button>
        </div>
    </div>
</div>

<div class="container bg-dark">
    <div class="row">
        <textarea id="html-code" class="col my-2 mx-2" rows=10" placeholder="Generated HTML code appears here..." readonly>
        </textarea>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<script>
    $(document).ready(function() {
        $("#summernote").summernote({
            placeholder: "Start typing..."
        });
        $("#html-code").val("");

    });

    $("#generate-html").click(function() {
        $("#html-code").val($("#summernote").summernote("code"));
    });

    function SendPost() {
        var html = $("#summernote").summernote("code");
        var request = new XMLHttpRequest();

        console.log(html);

        request.open("POST", "/compose_email");
        request.send(html);
    }
</script>
{% endblock %}
